.image-cropper {
  position: relative;
  width: 350px;
  height: 240px;
  overflow: hidden;
  border: 1px red solid;
}
.bottom {
  position: absolute;
  bottom: 0px;
}
.centered {
  position: absolute;
  left: -50%;
  top: -50%;
}
